@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,600;8..144,700&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
}

header {
    min-height: 10vh;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c2f2fe;
    box-shadow: 0 10px 30px 0 rgb(194 242 254 / 40%);
}

.container { 
    min-height: 70vh; 
    box-sizing: border-box;
   }

#formContent .icono {
    max-width: 100px;
    margin: 20px;
    filter: invert(72%) sepia(53%) saturate(1430%) hue-rotate(170deg) brightness(95%) contrast(94%);
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    border-radius: 100%;
}

#user-form input[type="text"], #user-form input[type="password"] {
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    padding: 10px 32px;
}

input[type="password"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input.fadeIn.fourth {
    margin: 10px 20px 10px 20px;
}

div#formFooter ol {
    list-style: none;
    padding: 0;
}

#formContent #formFooter {
    padding: 10px;
}

footer {
    min-height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #939393;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}